<div class="container_16">
  <div class="grid_16">
    <p id="notice"><%= notice %></p>

    <p>
      <b>Title:</b>
      <%= @carline.title %>
    </p>

    <p>
      <b>Description:</b>
      <%= @carline.description %>
    </p>

    <p>
      <b>Price:</b>
      <%= @carline.price %>
    </p>


    <%= link_to 'Edit', edit_carline_path(@carline) %> |
    <%= link_to 'Back', carlines_path %>
  </div>
</div>