<div class="double-panel">
  <table>
    <tr>
      <th>Außenlackierung</th>
      <th>Preis+</th>
    </tr>

  <% @car_colors.each do |car_color| %>
  <% first = 0 %>
    <tr>
      <td><%= radio_button("car_color", "color", car_color.token, :checked => (first == 0)) %> <%= image_tag car_color.image.html_safe %> <%= car_color.name %></td>
      <td><%= car_color.price %></td>
    </tr>
  <% first += 1 %>
  <% end %>
  </table>
</div>

<div  class="double-panel">
  <table>
    <tr>
      <th>Innenausstattung</th>
      <th>Preis+</th>
    </tr>

  <% @car_interior_colors.each do |car_interior_color| %>
  <% first = 0 %>
    <tr>
      <td><%= radio_button("car_interior_color", "color", car_interior_color.token, :checked => (first == 0)) %> <%= image_tag car_interior_color.image.html_safe %> <%= car_interior_color.name %></td>
      <td><%= car_interior_color.description.html_safe %></td>
    </tr>
    <% first += 1 %>
  <% end %>
  </table>
</div>
<div class="clearfix"></div>
<hr>
+ Unverbindliche Preisempfehlung des Herstellers, zzgl. Überführungs- und Zulassungskosten.