<div width="45%">
  <table>
    <tr>
      <th>Außenlackierung</th>
      <th>Preis+</th>
    </tr>

  <% @car_colors.each do |car_color| %>
    <tr>
      <td><%= radio_button("car_color", "color", "rails") %> <%= image_tag car_color.image.html_safe %> <%= car_color.name %></td>
      <td><%= car_color.price %></td>
    </tr>
  <% end %>
  </table>
</div>

<div width="45%">
  <table>
    <tr>
      <th>Innenausstattung</th>
      <th>Preis+</th>
    </tr>

  <% @car_interior_colors.each do |car_interior_color| %>
    <tr>
      <td><%= image_tag car_interior_color.image.html_safe %> <%= car_interior_color.name %></td>
      <td><%= car_interior_color.description %></td>
    </tr>
  <% end %>
  </table>
</div>