<table width="100%">
  <tr>
    <th>Name</th>
    <th>Power</th>
    <th>Transmision</th>
    <th>Acceleration</th>
    <th>Standart</th>
    <th>Price</th>
    <th></th>
  </tr>

<% @car_engines.each do |car_engine| %>
  <tr>
    <td><%= car_engine.name %></td>
    <td><%= car_engine.power %></td>
    <td><%= car_engine.transmision %></td>
    <td><%= car_engine.acceleration %></td>
    <td><%= car_engine.standart %></td>
    <td><%= car_engine.price %></td>
    <td></td>
  </tr>
<% end %>
</table>  