<div class="grid_12">
  <div id="tabs">
    <ul>
      <li><a href="#engine">1. Motoren</a></li>
      <li><a href="#color">2. Farbkombinationen</a></li>
      <li><a href="#config">3. Sonderausstattung</a></li>
      <li><a href="#total">4. Ihr Wunschfahrzeug</a></li>    
    </ul>
    <div id="engine">
  <table width="100%">
    <tr>
      <th>Name</th>
      <th>Power</th>
      <th>Transmision</th>
      <th>Acceleration</th>
      <th>Standart</th>
      <th>Price</th>
      <th></th>
    </tr>

  <% @car_engines.each do |car_engine| %>
    <tr>
      <td><%= car_engine.name %></td>
      <td><%= car_engine.power %></td>
      <td><%= car_engine.transmision %></td>
      <td><%= car_engine.acceleration %></td>
      <td><%= car_engine.standart %></td>
      <td><%= car_engine.price %></td>
      <td><%= car_engine.description %></td>
    </tr>
  <% end %>
  </table>
    </div>
    <div id="color">
      color color
    </div>
    <div id="config">
      config config   
    </div>
    <div id="total">
      total total
    </div>  
  </div>
</div>
<div class="grid_4">
  <h4>Total:</h4>
  <p>blah blah blah</p>
  <p>blah blah blah</p>
  <p>blah blah blah</p>
</div>

<script type="text/javascript">
  $('#tabs').tabs();
</script>