<!DOCTYPE html>
<html>
<head>
  <title>Vwkonfigurator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

<div id="header" class="container_16">
  <div class="grid_4">
    <a href="/"><img src="/assets/logo_new.jpg"></a>
  </div>

  <div class="grid_12">
    <ul class="nav">
      <li><%= link_to "Carlines", carlines_path %> &nbsp;| </li>
      <li><%= link_to "Carlines", carlines_path %> &nbsp;| </li>
      <li><%= link_to "Carlines", carlines_path %> &nbsp;| </li>
      <li><%= link_to "Carlines", carlines_path %></li>
    </ul>
  </div>
</div>

<div id="main">
<%= yield %>
</div>

<div id="footer" class="container_16">
  <div class="grid_8">
    *) Die in dieser Darstellung gezeigten Fahrzeuge können in einzelnen Details vom aktuellen deutschen Lieferprogramm abweichen. Abgebildet sind teilweise Sonderausstattungen gegen Mehrpreis.
  </div>
  <div class="grid_8">
        © Volkswagen 2012 | Impressum | Rechtliches | Volkswagen International | Volkswagen AG | Volkswagen auf Facebook  | Volkswagen auf YouTube  | Volkswagen Karriere
  </div>

</div>

</body>
</html>

